.ToggleSwitch {
  border: 0;
  cursor: pointer;
  height: 24px;
  width: 80px;
  border-radius: 2px;
  background-color: var(--color-black);
  color: var(--color-beige);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

  &.isActive {
    background-color: var(--color-white);
    color: var(--color-brown);
  }
}
