{
  "semi": false,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "useTabs": false,
  "tabWidth": 2,
  "importOrder": [
    "^node:",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@(reduxjs)",

    "^@store/",
    "^@services/",
    "^@pages/",
    "^@components/",

    "^@src/.*(?<!.s?css)$",
    "^@src/",

    "^[./].*(?<!.s?css)$",
    "^[./]"
  ]
}
