:root {
  --color-text: #fff6e5;
  --color-background: #1e1e1b;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  display: grid;
  place-items: center right;
  user-select: none;
}

div {
  width: 61.803vw;
}

h1 {
  font-size: 7vw;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-text);
}

small {
  letter-spacing: 0.2vw;
  padding-left: 1vw;
  font-size: 2vw;
}
