.Voice {
  display: flex;
  padding: 10px;
  border: 1px solid var(--color-mid-grey);
  margin: 5px 0;
  align-items: center;
  border-radius: 2px;
  user-select: none;
  box-shadow: 0 3px 5px -5px var(--color-brown);
  &:hover {
    background: rgba(white, 0.25);
  }

  > * {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
      width: 25px;
    }
    &:nth-child(3) {
      flex: 1;
    }
  }

  .frequency {
    white-space: nowrap;
    width: 60px;
    text-align: right;
    display: block;
  }
}
