@hues : 196, 325, 67, 0;
@saturations : 93%, 70%, 65%, 49%, 30%;
@values : 34%, 50%, 76%, 88%, 93%;

@c1 : hsv(extract(@hues, 1), extract(@saturations, 1), extract(@values, 1));
@c2 : hsv(extract(@hues, 1), extract(@saturations, 2), extract(@values, 2));
@c3 : hsv(extract(@hues, 1), extract(@saturations, 3), extract(@values, 3));
@c4 : hsv(extract(@hues, 1), extract(@saturations, 4), extract(@values, 4));
@c5 : hsv(extract(@hues, 1), extract(@saturations, 5), extract(@values, 5));

@c1-red : hsv(extract(@hues, 2), extract(@saturations, 1), extract(@values, 1));
@c2-red : hsv(extract(@hues, 2), extract(@saturations, 2), extract(@values, 2));
@c3-red : hsv(extract(@hues, 2), extract(@saturations, 3), extract(@values, 3));
@c4-red : hsv(extract(@hues, 2), extract(@saturations, 4), extract(@values, 4));
@c5-red : hsv(extract(@hues, 2), extract(@saturations, 5), extract(@values, 5));

@c1-yellow : hsv(extract(@hues, 3), extract(@saturations, 1), extract(@values, 1));
@c2-yellow : hsv(extract(@hues, 3), extract(@saturations, 2), extract(@values, 2));
@c3-yellow : hsv(extract(@hues, 3), extract(@saturations, 3), extract(@values, 3));
@c4-yellow : hsv(extract(@hues, 3), extract(@saturations, 4), extract(@values, 4));
@c5-yellow : hsv(extract(@hues, 3), extract(@saturations, 5), extract(@values, 5));

@c1-grey : hsv(extract(@hues, 4), 0%, extract(@values, 1));
@c2-grey : hsv(extract(@hues, 4), 0%, extract(@values, 2));
@c3-grey : hsv(extract(@hues, 4), 0%, extract(@values, 3));
@c4-grey : hsv(extract(@hues, 4), 0%, extract(@values, 4));
@c5-grey : hsv(extract(@hues, 4), 0%, extract(@values, 5));

.c1{background : @c1;}
.c2{background : @c2;}
.c3{background : @c3;}
.c4{background : @c4;}
.c5{background : @c5;}

.c1-red{background : @c1-red;}
.c2-red{background : @c2-red;}
.c3-red{background : @c3-red;}
.c4-red{background : @c4-red;}
.c5-red{background : @c5-red;}

.c1-yellow{background : @c1-yellow;}
.c2-yellow{background : @c2-yellow;}
.c3-yellow{background : @c3-yellow;}
.c4-yellow{background : @c4-yellow;}
.c5-yellow{background : @c5-yellow;}

.c1-grey{background : @c1-grey;}
.c2-grey{background : @c2-grey;}
.c3-grey{background : @c3-grey;}
.c4-grey{background : @c4-grey;}
.c5-grey{background : @c5-grey;}

html, body{
	margin : 0;
	padding : 0;
	height : 100%;
}