@c1 : hsv(196, 93%, 34%); @c1-red : hsv(325, 93%, 34%); @c1-yellow : hsv(67, 93%, 34%); @c1-grey : hsv(196, 93% / 4, 34%);
@c2 : hsv(197, 70%, 50%); @c2-red : hsv(326, 70%, 50%); @c2-yellow : hsv(68, 70%, 50%); @c2-grey : hsv(197, 50% / 4, 46%);
@c3 : hsv(197, 65%, 76%); @c3-red : hsv(326, 65%, 76%); @c3-yellow : hsv(68, 65%, 76%); @c3-grey : hsv(197, 65% / 4, 76%);
@c4 : hsv(196, 49%, 88%); @c4-red : hsv(325, 49%, 88%); @c4-yellow : hsv(67, 49%, 88%); @c4-grey : hsv(196, 49% / 4, 88%);
@c5 : hsv(197, 30%, 93%); @c5-red : hsv(326, 30%, 93%); @c5-yellow : hsv(68, 30%, 93%); @c5-grey : hsv(197, 30% / 4, 93%);

.c1{background : @c1;}
.c2{background : @c2;}
.c3{background : @c3;}
.c4{background : @c4;}
.c5{background : @c5;}

.c1-red{background : @c1-red;}
.c2-red{background : @c2-red;}
.c3-red{background : @c3-red;}
.c4-red{background : @c4-red;}
.c5-red{background : @c5-red;}

.c1-yellow{background : @c1-yellow;}
.c2-yellow{background : @c2-yellow;}
.c3-yellow{background : @c3-yellow;}
.c4-yellow{background : @c4-yellow;}
.c5-yellow{background : @c5-yellow;}

.c1-grey{background : @c1-grey;}
.c2-grey{background : @c2-grey;}
.c3-grey{background : @c3-grey;}
.c4-grey{background : @c4-grey;}
.c5-grey{background : @c5-grey;}

html, body{
	margin : 0;
	padding : 0;
	height : 100%;
}