@import '../../css/palette.less';

.c1{background : @c1;}
.c2{background : @c2;}
.c3{background : @c3;}
.c4{background : @c4;}
.c5{background : @c5;}

.c1-red{background : @c1-red;}
.c2-red{background : @c2-red;}
.c3-red{background : @c3-red;}
.c4-red{background : @c4-red;}
.c5-red{background : @c5-red;}

.c1-yellow{background : @c1-yellow;}
.c2-yellow{background : @c2-yellow;}
.c3-yellow{background : @c3-yellow;}
.c4-yellow{background : @c4-yellow;}
.c5-yellow{background : @c5-yellow;}

.c1-grey{background : @c1-grey;}
.c2-grey{background : @c2-grey;}
.c3-grey{background : @c3-grey;}
.c4-grey{background : @c4-grey;}
.c5-grey{background : @c5-grey;}

html, body{
	margin : 0;
	padding : 0;
	height : 100%;
}