.Voices {
  margin: 7px 10px;

  h2 {
    font-size: 1.8em;
    margin: 20px 0 10px 10px;
  }

  .modeLink {
    float: right;
    margin-top: 15px;
    margin-right: 8px;
  }

  .allChannelControls {
    padding: 11px;
    margin: 0 0 -5px 0;
  }
}
