.icon{
	font-family: 'monochord';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.unselectable{
	-webkit-touch-callout : none;
	
	        user-select : none;
	     -o-user-select : none;
	    -ms-user-select : none;
	   -moz-user-select : none;
	-webkit-user-select : none;
}

.number-as-text{
	-moz-appearance: textfield;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}