// source of icons: https://www.iconfinder.com/iconsets/free-mobile-icon-kit

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none!important;
}

/* ----- reset ----- */

html, body, menu, nav ul, nav ul li{
	margin : 0;
	padding : 0;
}
html, body{
	height : 100%;
}
body{
	font-family : 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.hidden{
	display : none;
}
button{
	cursor : pointer;
}

/* ----- build ----- */

/*
button{
	background : #4160b5;
	border-radius : 4px;
	border : none;
	color : #e7ebf6;
	font-size : inherit;
	font-family : inherit;
	cursor : pointer;
	padding : 0;
	line-height : 30px;
	height : 30px;
	margin : 3px 5px;
	padding : 0 10px;
	outline : none;
}

button:focus,
button:active,
button:hover{
	background : #7088c7;
	color : #fff;
}
button[disabled]{
	background : #d4dbee;
	color : #f1f2f6;
}
button.off{
	background-color : #999;
}
*/

.dragnumber{
	-moz-appearance:textfield;
	border : 0;
	width : 50px;
	height : 50px;
	line-height : 50px;
	background : #aaa;
	text-align : center;
	font-size : 20px;
	cursor : pointer;
	border-radius : 10px;
	cursor : ns-resize;
	display : inline-block;
}
.dragnumber::-webkit-outer-spin-button,
.dragnumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.dragnumber.edit{
	cursor : text;
}

.wrapper{
	height : 100%;
	&>header{
		background : #e3e3e3;
		text-align : center;
		h1{
			margin : 0;
			padding : 0;
			font-size : 20px;
			color : #666;
			text-shadow :
				0 1px 0 #fff,
				0 -1px 0 #333
			;
			font-variant : small-caps;
		}
	}
	&>.edit{
		background : #e3e3e3;
	}
	&>.main{
		background : #fff;
	}
}

@media (orientation: landscape){
	.wrapper{
		&>header{
			position : fixed;
			width : 30vw;
			height : 10vh;
			top : 0;
			right : 0;
			box-shadow : 0 -1px 0 0 rgba(255, 255, 255, .7) inset;
			h1{
				line-height : 10vh;
			}
		}
		&>.edit{
			position : fixed;
			width : 30vw;
			height : 90vh;
			bottom : 0;
			right : 0;
		}
		&>.main{
			min-height : 100%;
			box-sizing : border-box;
			padding : 0 30vw 0 0;
		}
	}
}

@media (orientation: portrait){
	.wrapper{
		&>header{
			height : 7vh;
			position : fixed;
			top : 0;
			left : 0;
			width : 100%;
			h1{
				line-height : 7vh;
			}
		}
		&>.edit{
			height : 30vh;
			position : fixed;
			bottom : 0;
			left : 0;
			width : 100%;
		}
		&>.main{
			min-height : 100%;
			box-sizing : border-box;
			padding : 7vh 0 30vh 0;
		}
	}
}

.edit .multiplier{
	text-align : center;
	padding : 10px 0;
}

.base-controls{
	
}
.presets{
	display : none;
}

.sets,
.sets .strings{
	margin : 0;
	padding : 0;
	list-style : none;
	&>li{
		margin : 0;
		padding : 0;
	}
}

.dialog{
	display : none;
}

.keyboard{
	display : none;
}

button{
	&.icon{
		&.delete{}
		&.add{}
		&.halve{}
		&.decrease{}
		&.increase{}
		&.double{}
		&.piano{}
		&.tuning-fork{}
	}
	&.red{}
	&.active{}
	&.muted{}
	&.unmuted{}
	&[disabled]{}
}