/*
// ----- reset ----- //

body{
	background : @c5;
}
.hidden{
	display : none;
}
button{
	cursor : pointer;
}

// ----- build ----- //

@media (orientation: landscape){
	.wrapper{
		&>.main{
			min-height : 100%;
			box-sizing : border-box;
			padding : 0;
		}
	}
}

@media (orientation: portrait){
	.wrapper{
		&>.main{
			min-height : 100%;
			box-sizing : border-box;
			padding : 0;
		}
	}
}

.ui{
	&.volume{
		&::before{
			._icon;
			._icon-speaker-off;
		}
		&::after{
			._icon;
			._icon-speaker-on;
		}
	}
}
.presets{
	display : none;
}

.sets,
.sets .strings{
	margin : 0;
	padding : 0;
	list-style : none;
	&>li{
		margin : 0;
		padding : 0;
	}
}
.sets{
	&>li{
		font-size : 0;
		padding-top : 8px;
		vertical-align : top;
		margin-top : 20px;
	}
	.strings{
		display : inline-block;
		&>li{
			display : inline-block;
			&::before{
				content : ':';
				font-size : 30px;
				vertical-align : top;
				display : inline-block;
				height : 48px;
			}
			&:first-child{
				&::before{
					display : none;
				}
				.hertz{
					left : 0;
				}
			}
			button{
				margin-left : 0;
			}
			&:last-child{
				border-right : 1px solid @c1;
				padding-right : 4px;
				margin-right : 1px;
			}
			position : relative;
			.hertz{
				font-size : 11px;
				display : block;
				position : absolute;
				top : -14px;
				left : 10px;
				white-space : nowrap;
				width : 48px;
				text-align : center;
				overflow : hidden;
			}
			.cent{
				font-size : 10px;
				display : block;
				position : absolute;
				bottom : -14px;
				left : -24px;
				white-space : nowrap;
				width : 58px;
				text-align : center;
				overflow : hidden;
			}
		}
	}
	.string-edit{
		display : inline-block;
		padding-right : 4px;
		vertical-align : top;
	}
	.set-controls{
		display : inline-block;
		border-left : 1px solid @c1;
		float : right;
	}
	input,
	button{
		margin-left : 4px;
	}
}

.dialog{
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background : rgba(200, 200, 200, .7);
	z-index : 50;
	&>div{
		width : 90%;
		height : 84%;
		background : #fff;
		position : absolute;
		top : 8%;
		left : 5%;
		box-sizing : border-box;
		padding : 10px 20px;
		box-shadow :
			0 0 5px 0 rgba(0, 0, 0, .5),
			0 0 0 1px #444
		;
		border-radius : 10px;
		
		header{
			button.close{
				position : absolute;
				width : 40px;
				height : 40px;
				top : -20px;
				right : -20px;
				border-radius : 20px;
				&::before{
					font-weight : normal;
					font-size : 20px;
					line-height : 40px;
					height : 40px;
					width : 40px;
				}
			}
			h2{
				margin : 0;
			}
		}
	}
	
	.retune{
		
	}
	
	.keyboard{
		table{
			.unselectable;
			width : 100%;
			height : 100px;
			border-collapse : collapse;
			table-layout : fixed;
			tr{
				td{
					border : 1px solid red;
					text-align : center;
					vertical-align : bottom;
					cursor : pointer;
				}
			}
		}
	}
}

// -------------------
*/

/* ================= */

// ----- setup, fonts, icons ----- //

@import 'palette.less';
@import 'mixins.less';

@font : Tahoma, Geneva, sans-serif;

@font-face {
	font-family: 'monochord';
	src: url('./font/monochord.eot?91905665');
	src: url('./font/monochord.eot?91905665#iefix') format('embedded-opentype'),
		url('./font/monochord.woff?91905665') format('woff'),
		url('./font/monochord.ttf?91905665') format('truetype'),
		url('./font/monochord.svg?91905665#monochord') format('svg');
	font-weight: normal;
	font-style: normal;
}

._icon-speaker-off { content: '\e800'; }
._icon-speaker-on { content: '\e801'; }
._icon-tuning-fork { content: '\e802'; }
._icon-increase { content: '\e803'; }
._icon-remove { content: '\e804'; }
._icon-decrease { content: '\e805'; }
._icon-double { content: '\e806'; }
._icon-halve { content: '\e807'; }
._icon-delete { content: '\e808'; }
._icon-add { content: '\e809'; }
._icon-piano { content: '\e80a'; }
._icon-normalize { content: '\e80b'; }

// ----- mixins ----- //

[class*="icon-"]{
	font-size : 0;
	
	&::before{
		.icon;
		
		display : inline-block;
		width : 48px;
		height : 48px;
		line-height : 48px;
		font-size : 24px;
	}
	&.smaller::before{
		width : 40px;
		height : 40px;
		line-height : 40px;
		font-size : 20px;
	}
}
.icon-increase::before{ ._icon-increase; }
.icon-halve::before{ ._icon-halve; }
.icon-double::before{ ._icon-double; }
.icon-decrease::before{ ._icon-decrease; }
.icon-speaker-on::before{ ._icon-speaker-on; }
.icon-piano::before{ ._icon-piano; }
.icon-remove::before{ ._icon-remove; }
.icon-speaker-off::before{ ._icon-speaker-off; }
.icon-tuning-fork::before{ ._icon-tuning-fork; }
.icon-delete::before{ ._icon-delete; }
.icon-add::before{ ._icon-add; }
.icon-normalize::before{ ._icon-normalize; }

// ----- angular ----- //

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none!important;
}

// ----- reset ----- //

html, body{
	margin : 0;
	padding : 0;
	height : 100%;
}
body{
	font-family : @font;
}

// ----- build ----- //

.wrapper{
	width : 100%;
	height : 100%;
	display : table;
}

.editor-wrapper{
	display : table-cell;
	background : @c5;
	height : 100%;
	padding : 20px;
	vertical-align : top;
	box-sizing : border-box;
}
.properties-wrapper{
	display : table-cell;
	background : @c4;
	width : 400px;
	height : 100%;
	padding : 20px;
	vertical-align : top;
	box-sizing : border-box;
	text-align : center;
}

.button{
	border : 0;
	padding : 0;
	height : 46px;
	line-height : 46px;
	border-radius : 5px;
	font-size : 20px;
	font-family : inherit;
	cursor : pointer;
	outline : none;
	vertical-align : top;
	display : inline-block;
	position : relative;
	padding : 0 10px;
	.unselectable;
	box-sizing : content-box;
	
	&.smaller{
		margin-top : 4px;
		margin-bottom : 4px;
		height : 40px;
		line-height : 40px;
	}
	&[class*=" icon-"],
	&[class^="icon-"]{
		width : 48px;
		padding : 0;
		text-align : center;
		&.smaller{
			width : 40px;
		}
	}
	
	&:active:not(.disabled){
		border-bottom : 0;
		margin-top : 2px;
		&.smaller{
			margin-top : 6px;
		}
	}
	
	&.round{
		border-radius : 24px;
		&.smaller{
			border-radius : 20px;
		}
	}
	&.left{
		border-top-right-radius : 0;
		border-bottom-right-radius : 0;
	}
	&.right{
		border-top-left-radius : 0;
		border-bottom-left-radius : 0;
	}
	
	color : @c1;
	background : @c2;
	text-shadow :
		0 -1px 0 darken(@c2, 30%),
		0 1px 0 lighten(@c2, 10%)
	;
	border-bottom : 2px solid @c1;
	
	&.red{
		color : @c1-red;
		background : @c2-red;
		text-shadow :
			0 -1px 0 darken(@c2-red, 30%),
			0 1px 0 lighten(@c2-red, 10%)
		;
		border-bottom-color : @c1-red;
	}
	&.yellow{
		color : @c1-yellow;
		background : @c2-yellow;
		text-shadow :
			0 -1px 0 darken(@c2-yellow, 30%),
			0 1px 0 lighten(@c2-yellow, 10%)
		;
		border-bottom-color : @c1-yellow;
	}
	&.grey{
		color : @c1-grey;
		background : @c2-grey;
		text-shadow :
			0 -1px 0 darken(@c2-grey, 30%),
			0 1px 0 lighten(@c2-grey, 10%)
		;
		border-bottom-color : @c1-grey;
	}
	
	&.indicator-on,
	&.indicator-off{
		&::after{
			content : '';
			display : block;
			width : 8px;
			height : 8px;
			border-radius : 4px;
			position : absolute;
			top : 5px;
			right : 5px;
		}
		&.smaller::after{
			width : 6px;
			height : 6px;
			border-radius : 3px;
		}
	}
	&.indicator-off{
		&::after{
			background : @c1;
		}
		&.yellow::after{
			background : @c1-yellow;
		}
		&.red::after{
			background : @c1-red;
		}
		&.grey::after{
			background : @c1-grey;
		}
	}
	&.indicator-on{
		&::after{
			background : @c4-yellow;
		}
		&.yellow::after,
		&.grey::after{
			background : @c5-yellow;
		}
	}
}

.buttongroup{
	font-size : 0;
	.button{
		border-left : 1px solid @c1;
		&.yellow{
			border-color : @c1-yellow;
		}
		&.red{
			border-color : @c1-red;
		}
		&.grey{
			border-color : @c1-grey;
		}
		&:first-child{
			border-left : 0;
		}
	}
	
	&:active .button:not(.disabled){
		border-bottom : 0;
		margin-top : 2px;
		&.smaller{
			margin-top : 6px;
		}
	}
}

.ui{
	&.texted-input{
		input{
			.number-as-text;
			background : none;
			border : 0;
			font : inherit;
			font-weight : bold;
			width : 80px;
			text-align : right;
			padding : 0;
			margin : 0 6px 0 0;
			font-size : 25px;
			vertical-align : top;
			line-height : 48px;
			color : inherit;
			text-shadow : inherit;
			outline : none;
			&:invalid{
				outline : none;
				box-shadow : none;
			}
		}
	}
}