.Header {
  background-color: var(--color-black);
  color: var(--color-beige);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 14px;

  h1 {
    margin: 0;
    font-size: 1em;
  }
}
