.Header {
  background-color: var(--color-brown);
  color: var(--color-beige);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  padding: 0 14px;

  h1 {
    margin: 0;
    font-size: 1.2em;
  }
}
