html, body{
	margin : 0;
	padding : 0;
	height : 100%;
}
#screen{
	min-height : 300px;
	height : 100%;
	padding : 20px;
	box-sizing : border-box;
}
#screen>svg{
	border : 1px solid #000;
	background :url("../img/grid.png") repeat center center rgba(0, 0, 0, .1);
	border-radius : 20px;
	box-sizing : border-box;
}