<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Monochord | Experiment with microtonal sounds!</title>
	
	<meta charset="utf-8" />
	<meta name="description" content="Monochord is an app, where you can experiment with xenharmonic scales, microtonal ratios and tunings. Train your ear, or create your own scale and export it to several formats." />
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	
	<meta property="og:url" content="http://meszaros-lajos-gyorgy.github.io/microtonal/monochord/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="The Monochord | Experiment with microtonal sounds!" />
	<meta property="og:description" content="Monochord is an app, where you can experiment with xenharmonic scales, microtonal ratios and tunings. Train your ear, or create your own scale and export it to several formats." />
	<meta property="og:image" content="http://meszaros-lajos-gyorgy.github.io/microtonal/monochord/monochord.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="800" />
	<meta property="og:image:height" content="358" />
	
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	
	<link rel="stylesheet/less" href="css/style.less" />
	
	<script src="js/lib/less-2.6.0.min.js"></script>
	<script src="js/lib/angular-1.5.0.min.js"></script>
	
	<script src="js/webkit-audio-context-patch.js"></script>
	<script src="js/polyfill.js"></script>
	
	<script src="js/modules/math.js"></script>
	<script src="js/modules/utils.js"></script>
	<script src="js/modules/audio-model.js"></script>
	
	<script src="js/modules/model.retune.js"></script>
	<script src="js/modules/model.harmonics.js"></script>
	<script src="js/modules/model.calculate.js"></script>
	<script src="js/modules/model.sets.js"></script>
	<script src="js/modules/model.elements.js"></script>
	<script src="js/modules/model.js"></script>
	
	<script src="js/modules/ui.texted-input.js"></script>
	<script src="js/modules/ui.js"></script>
	
	<script src="js/modules/converter.scala.js"></script>
	<script src="js/modules/converter.js"></script>
	
	<script src="js/app.js"></script>
	
	<!--
	<script id="facebook-jssdk" src="//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.5"></script>
	-->
</head>
<body>
	<!--
	<div class="fb-like" data-href="http://meszaros-lajos-gyorgy.github.io/microtonal/monochord/" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
	
	<div>If you have any questions, want to request a feature or report a bug, then feel free to contact me at: <a href="mailto:m_lajos@hotmail.com">m_lajos@hotmail</a>.</div>
	
	<div id="fb-root"></div>
	-->
	
	<!--
	Credits:
		scala - format of the de-facto microtonal tuning software, created by Manuel Op de Coul, http://www.huygens-fokker.org/scala/
	-->
	
	<div class="wrapper" ng-app="Monochord" ng-controller="MonochordCtrl as mctrl">
		<section class="properties-wrapper">
			<texted-input label="'Base Frequency'"><input type="number" min="0" max="10000" ng-model="baseFrequency" />Hz</texted-input>
			
			<!--
			main volume | <input type="range" ng-model="baseVolume" min="0" max="100" />
			default retuning
			default retuning for new sets
			import
			export
			-->
		</section>
		<section class="editor-wrapper">
			<button class="button icon-add indicator-off"></button>
			<button class="button icon-add yellow indicator-off"></button>
			<button class="button icon-add red indicator-off"></button>
			<button class="button icon-add grey indicator-off"></button>
			<br />
			<br />
			<button class="button icon-add indicator-on"></button>
			<button class="button icon-add yellow indicator-on"></button>
			<button class="button icon-add red indicator-on"></button>
			<button class="button icon-add grey indicator-on"></button>
			<br />
			<br />
			<button class="button smaller icon-add indicator-off"></button>
			<button class="button smaller icon-add yellow indicator-off"></button>
			<button class="button smaller icon-add red indicator-off"></button>
			<button class="button smaller icon-add grey indicator-off"></button>
			<br />
			<br />
			<button class="button smaller icon-add indicator-on"></button>
			<button class="button smaller icon-add yellow indicator-on"></button>
			<button class="button smaller icon-add red indicator-on"></button>
			<button class="button smaller icon-add grey indicator-on"></button>
			
			<!--
				add cents
				add strings
			-->
			
			<label class="buttongroup">
				<span class="button left icon-add"></span>
				<span class="button right">add...</span>
			</label>
		</section>
	</div>
</body>
</html>