<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Monochord</title>
	
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	
	<link rel="stylesheet" href="css/style.css" />
	
	<script src="js/lib/angular-1.4.4.min.js"></script>
	
	<script src="js/webkit-audio-context-patch.js"></script>
	<script src="js/audio-model.js"></script>
	<script src="js/math.js"></script>
	<script src="js/directives/dragnumber.js"></script>
	<script src="js/directives/holdclick.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-app="Microtonal">
	<div ng-controller="MonochordCtrl" class="wrapper">
		<header>
			<h1>Monochord</h1>
		</header>
		<div class="edit">
			<div ng-show="stringToEdit.hasOwnProperty('id')">
				<div class="multiplier">
					<button hold-click ng-disabled="!canLowerString(stringToEdit)" ng-click="lowerString(stringToEdit)">-</button>
					<dragnumber ng-model="stringToEdit.multiplier" min="1" max="highestHarmonic" weight="10"></dragnumber>
					<button hold-click ng-disabled="!canRaiseString(stringToEdit)" ng-click="raiseString(stringToEdit)">+</button>
				</div>
				
				<button ng-show="!stringToEdit.muted" ng-click="stringToEdit.muted = true">mute</button>
				<button ng-show="stringToEdit.muted" class="off" ng-click="stringToEdit.muted = false">unmute</button>
				
				<!-- <input ng-show="set.normalize.type === 'manual'" type="radio" autocomplete="off" ng-value="stringToEdit.id" ng-model="set.normalize.subject" /> -->
				
				<button ng-click="removeString(stringToEdit.id);stringToEdit={}">x | delete</button>
			</div>
		</div>
		<div class="main">
			<section class="base-controls">
				<label>Fundamental frequency: <dragnumber min="1" ng-model="baseFrequency" width="5"></dragnumber> Hz</label>
				<label>Master volume: <input type="range" min="0" autocomplete="off" ng-model="baseVolume" />({{baseVolume}}/100)</label>
				<!-- <label>Autostack: <button ng-show="autoStack" ng-click="autoStack=false">enabled</button><button class="off" ng-show="!autoStack" ng-click="autoStack=true">disabled</button></label> -->
				
				<!-- show keyboard -->
			</section>
			
			<section ng-show="presets.tunings" class="presets">
				<h3>Presets</h3>
				
				<label>Tuning: <select autocomplete="off" ng-model="activePresetTuning" ng-options="tuning.name for tuning in presets.tunings"></select></label><br />
				<br />
				<div ng-repeat="tuning in presets.tunings">
					<div ng-show="tuning == activePresetTuning">
						<ul>
							<li ng-repeat="ratio in tuning.ratios"><button ng-click="addPreset(ratio.ratio, defaultVolume)">{{ratio.name + ' (' + ratio.ratio.join(':') + ')'}}</button></li>
						</ul>
					</div>
				</div>
			</section>
			
			<button ng-click="addSet()">+ | add a new set</button>
			
			<section ng-repeat="set in sets">
				<!--
				<label>Volume <em style="font-weight:normal">{{set.muted ? '(muted)' : ''}}</em>
				<input type="range" class="master" min="0" max="100" autocomplete="off" ng-model="set.volume" /><br /><span style="font-weight:normal">({{set.volume}}/100)</span></label>
				-->
				
				<!-- <span style="float:left;">Ratio known as: <i>{{ratioKnownAs(set)}}</i></span> -->
				
				<ul class="strings">
					<li><button hold-click ng-disabled="!canHalveHarmonics(set)" ng-click="halveHarmonics(set.id)">↓ | halve all</button></li>
					<li><button hold-click ng-disabled="!canLowerHarmonics(set)" ng-click="lowerHarmonics(set.id)">▼ | lower all</button></li>
					<li ng-repeat="string in set.strings"><button ng-click="setStringToEdit(string)" ng-class="(stringToEdit.id === string.id ? ' active' : '') + (string.muted ? ' muted' : '')">{{string.multiplier}}</button></li>
					<li><button ng-click="addString(set.id)">+ | add string</button></li>
					<li><button hold-click ng-disabled="!canRaiseHarmonics(set)" ng-click="raiseHarmonics(set.id)">▲ | raise all</button></li>
					<li><button hold-click ng-disabled="!canDoubleHarmonics(set)" ng-click="doubleHarmonics(set.id)">↑ | double all</button></li>
				</ul>
				
				<!--
				<button ng-click="removeSet(set.id)">x | delete this set</button>
				<button ng-disabled="!canBeSimplified(set)" ng-click="simplify(set.id)">simplify ratios</button>
				-->
				
				<!--
				/*
				<button ng-disabled="!set._.selectedKey" ng-show="!isSetAssignedToKey(set.id)" ng-click="assignSetToKey(set.id, set._.selectedKey)">assign to key:</button>
				<select ng-class="isSetAssignedToKey(set.id) ? 'hidden' : ''" ng-model="set._.selectedKey" ng-options="key as data.label disable when data.setId > 0 for (key, data) in keyAssignments"></select>
				<button ng-show="isSetAssignedToKey(set.id)" ng-click="unassignSetFromKeys(set.id)">unassign from key <b>{{keyAssignments[getAssignedKeyOfSet(set.id)].label}}</b></button>
				*/
				-->
				
				<!--
				<span style="font-weight:normal">Type:</span> <select autocomplete="off" ng-model="set.normalize.type">
					<option value="off">none</option>
					<option value="lowest">(auto) lowest harmony</option>
					<option value="highest">(auto) highest harmony</option>
					<option value="manual">(manual) user select</option>
				</select><br />
				<span style="font-weight:normal">Target:</span> <select autocomplete="off" ng-model="set.normalize.target" ng-options="value.value as value.label group by value.group for value in _normalizeStringTargets[set.id]"></select>
				-->
				
				<!--
				<span ng-show="!set._.displayingCents">
					<span ng-repeat="freq in calculateFrequencies(set) track by $index" style="display:block;line-height:55px;height:55px">
						{{freq | number:2}} Hz
					</span>
				</span>
				<span ng-show="set._.displayingCents">
					{{cents = calculateCents(set);''}}
					<span ng-repeat="cent in cents track by $index" style="display:block;line-height:55px;height:55px" ng-show="!$first">
						{{prev = ($index > 0 ? cents[$index - 1] : 0);''}}
						{{diff = cent - prev;''}}
						{{(diff >= 0 ? '+' : '')}}{{diff | number:2}} &cent;
					</span>
				</span>
				
				<button ng-show="!set._.displayingCents" ng-click="set._.displayingCents = true">&cent;</button>
				<button ng-show="set._.displayingCents" ng-click="set._.displayingCents = false">Hz</button>
				-->
			</section>
		</div>
		<div class="dialog">
			<div class="normalize">
			
			</div>
		</div>
		<div class="keyboard">
			<!-- double tap on key = toggle key hold -->
			<!-- table layout for the keys -->
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
</body>
</html>