<menu></menu>

<div class="component monochord">
	<input type="number" min="1" autocomplete="off" ng-model="baseFrequency" />
	<br />
	<br />
	<div ng-repeat="string in strings" ng-class="string.volume > 0 ? 'on' : 'off'">
		<!-- ha mindenhol ugyanaz az alap frekvencia, akkor otonality van -->
		<input type="range" class="freq" min="1" max="100" autocomplete="off" ng-model="string.multiplier" />
		<input type="number" min="1" max="100" autocomplete="off" string-to-number ng-model="string.multiplier" />
		
		<input type="range" class="volume" min="0" max="100" autocomplete="off" ng-model="string.volume" />
		
		<button ng-click="removeString(string.id)">delete this string</button>
	</div>
	<br />
	<button ng-click="addString()">add a new string</button>
	<br />
	<br />
	<button ng-repeat="ratio in ratios" ng-click="setStrings(ratio.ratio)">{{ratio.name + ' (' + ratio.ratio[0] + ':' + ratio.ratio[1] + ')'}}</button>
</div>