@import url('variables.css');
@import url('reset.css');

body {
  background: var(--color-background);
  color: var(--color-text);
  display: grid;
  place-items: center right;
  user-select: none;
}

div {
  width: calc(100% / var(--golden-ratio));
}

h1 {
  font-size: 7vw;
  border-bottom: 1px solid var(--color-text);
}

h1:hover {
  color: var(--color-text-hover);
}

small {
  letter-spacing: 0.2vw;
  padding-left: 1vw;
  font-size: 2vw;
}
