:root {
  --golden-ratio: 1.61803;

  --color-black: #020204;
  --color-brown: #46413b;
  --color-beige: #bebbb6;
  --color-white: #f7f7f5;

  --color-text: var(--color-brown);
  --color-text-hover: var(--color-black);
  --color-background: var(--color-beige);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  display: grid;
  place-items: center right;
  user-select: none;
}

div {
  width: calc(100% / var(--golden-ratio));
}

h1 {
  font-size: 7vw;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-text);
}
h1:hover {
  color: var(--color-text-hover);
}

small {
  letter-spacing: 0.2vw;
  padding-left: 1vw;
  font-size: 2vw;
}
