@import './css/variables.scss';
@import './css/reset.scss';

body {
  background: var(--color-background);
  color: var(--color-text);
}

#app {
  width: 100%;
  height: calc(100% - 90px);
  overflow: hidden;
}

.fullpage-loading {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center center;
  span {
    user-select: none;
    font-size: 5vw;
    padding-right: 4.5vw;
    position: relative;
    &::after {
      content: '...';
      position: absolute;
      right: 0;
      width: 4.5vw;
      animation: 1s linear 0s infinite normal triple-dot;
    }
  }
}

@keyframes triple-dot {
  0% {
    content: '.';
  }
  25% {
    content: '..';
  }
  50% {
    content: '...';
  }
  75% {
    content: '..';
  }
  100% {
    content: '.';
  }
}

header {
  background-color: var(--color-black);
  color: var(--color-beige);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 14px;

  h1 {
    margin: 0;
    font-size: 1.3em;
  }
}

footer {
  background-color: var(--color-black);
  color: var(--color-beige);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 45px;
  padding: 0 14px;

  a {
    font-weight: bold;
    color: var(--color-text);
    margin-left: 10px;
  }
}
